.MainSectionLobby {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
     width: 100%;
    height: 76vh !important;
    text-align: center;
}

.ManageSectionLobby {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    flex-direction: column;
    height: auto;
    min-height: 50%;
    width: 100%;
    margin-bottom: 10%;
}

.section-title {
    margin-bottom: 4%;
}

.players-title {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 4px;
    color: rgba(0, 0, 0, 0.767);
}

.title {
    font-size: 3em;
    font-weight: 900;
    color: black;
    text-align: center;
}

.main_box_container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto;
    margin-bottom: 4%;
}

.admin_player_container {
    width: 10%;
    min-height: 30vh;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 1% 0%;
}

.admin_player_img-wrapper {
    margin: 5% 2%;
}

.admin_player_img {
    width: 56px;
    height: 56px;
}

.admin_level {
    font-size: 12px;
    font-weight: 800;
}

.admin_name {
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 12px;
}

.players_container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
    width: 42vw;
    height: auto;
    max-height: 30vh !important;
    overflow-y: scroll;
    padding: 1% 1% 0 1%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.player-wrapper {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 4%;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 5px;
    padding: 3% 0% 4% 1%;
}

.player-wrapper-ex {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 4%;
    width: 100%;
    margin-bottom: 2%;
    padding: 0% 0% 1% 1%;
    border-bottom: 4px solid black;
}

.player-value-wrapper {
    display: flex;
    justify-content: start;
    text-align: start;
    align-items: center;
    border-bottom: 3px solid black;
}

.player-value-wrapper-ex {
    position: relative;
    display: flex;
    justify-content: start;
    text-align: start;
    align-items: center;
}

.player-value {
}

.lobby_buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5%;
}

.example-text {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    padding: 1% 1%;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0);
}

/* Base styles */
.title {
    font-size: 3em; /* Adjust base font size */
}

/* Smaller devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .App {
    }

    .example-text {
        color: rgba(0, 0, 0, 0.452);
    }

    .player-wrapper {
        border-bottom: 3px solid black;
    }

    .lastOne {
        border-bottom: none;
    }

    .MainSection, .ManageSection, .main_box_container, .lobby_buttons-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .player-wrapper, .player-wrapper-ex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .admin_player_container, .players_container {
        width: 50vw; /* Adjust width */
        min-height: auto; /* Adjust height */
    }

    .title {
        font-size: 2em; /* Adjust font size for smaller screens */
    }

    .player-wrapper, .player-wrapper-ex {
        flex-direction: column;
    }
}

/* Medium devices (tablets, 600px and up) */
@media only screen and (min-width: 600px) {
    .admin_player_container, .players_container {
        width: 80vw; /* Adjust width for tablets */
    }
}


/* Large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    .admin_player_container, .players_container {
        width: 42vw; /* Revert to original width */
    }
}

@media (max-width: 768px) {
    .ManageSection, .main_box_container, .admin_player_container, .players_container {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .admin_player_container, .players_container {
        width: 100%;
    }
}

/* Responsywność dla tabletów */
@media (min-width: 769px) and (max-width: 1024px) {
    .MainSection, .main_box_container {
        flex-direction: row;
    }
    .admin_player_container, .players_container {
        width: 45%;
    }
}

/* Responsywność dla komputerów stacjonarnych i większych urządzeń */
@media (min-width: 1025px) {
    .admin_player_container, .players_container {
        width: 42vw; /* Można dostosować według potrzeb */
    }
}

@media (max-width: 768px) {
    .players_container {
        min-width: 80%; /* Dostosowanie dla urządzeń mobilnych */
        width: 80%; /* Szerokość na urządzeniach mobilnych */
        max-height: 60vh; /* Mniejsza maksymalna wysokość na urządzeniach mobilnych */
        border-bottom: 3px solid black;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .players_container {
        width: 80%; /* Dostosowanie dla tabletów */
        max-height: 65vh; /* Dostosowanie maksymalnej wysokości dla tabletów */
    }
}

@media (min-width: 1025px) {
    .players_container {
        width: 42vw; /* Szerokość na większych ekranach */
        max-height: 70vh; /* Maksymalna wysokość dla większych ekranów */
    }
}

/* Bazowe style (bez zmian) */

/* Dostosowania dla urządzeń mobilnych */
@media only screen and (max-width: 600px) {
    .MainSection {
        height: auto; /* Zmiana z 100vh na auto, aby dopasować do zawartości */
        overflow-y: hidden; /* Ukrycie przewijania */
    }

    .ManageSection, .main_box_container, .lobby_buttons-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .mainSectionButton, .exitButton, input[type="text"] {
    }
}

/* Style dla tabletów i desktopów (bez zmian) */
