.footer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: start;
    background-color: rgba(241, 240, 234, 1);
    align-items: center;
    border-top: 3px solid black;
    flex-direction: column;
    padding: 0.6% 1% 0 0;
    z-index: -5;
}

.backdrop {
    content: "";
    position: fixed;
    top: -100vh;
    left: 0px;
    width: 100vw;
    height: 500vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.footer-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.6% 1%;
}

.footer_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.footer_jik-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-bottom: 1%;
}

.footer-line {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    border-radius: 4px;
    z-index: 100;
}

.footer-line:hover {
    color: rgb(41, 41, 41);
}

.line-wrapper {
    position: relative;
    top: -30%;
    left: 0;
    width: 100%;
}

.line_small {
    width: 25%;
    left: 37.5%;
}

.line-wrapper:hover .line_small {
    width: 30%;
    left: 35%;
}

.grey-text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.164);
}

.footer_riddlezone-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.footer-text {
    text-align: start;
}